.git
.gitignore
.github
.vscode
.idea
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docker/8.0
docker/8.1
docker/8.2
docker/8.3
docker/mariadb
docker/mysql
docker/pgsql
